/* Yellow Background */
#mainContent1 {
    padding: 20px 0 20px 20px;
	height: 100%;
	border-left: 1px solid #ebe8e2;
    font-family: Sen;
}

#mainContent1 .yellow-background {
    background-image: url("./img/Yellow-Background.svg");
    height: 151px;
    border-radius: 16px;
}

.total-mining-pool {
    display: flex;
}

.brown-text {
    color: #47131A;
}

.black-text {
    color: black;
}
/* Yellow Background */

/* BABBU NFT MINING POOL */
.pool-info {
    margin-top: 20px;
    background: #F7F7F7;
    height: 374px; 
    border-radius: 16px;
}

.bold-text {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 44px;
}

.green-text {
    color: #0fd545;
}

.med-weight-text {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}

.s-title {
    font-size: 12px;
    line-height: 14px;
    color: #583A1E;
}

.left-col {
    background: #FDF1CC;
    border-radius: 16px;
    height: 70px;
    padding: 13px 0px 0px 20px;
    margin-top: 5px;
}

.right-col {
    background: #EAE9FD;
    border-radius: 16px;
    height: 70px;
    padding: 13px 0px 0px 20px;
    margin-top: 5px;
}

.harvest-babbu-mining {
    display: flex;
    justify-content: space-between;
}

.harvest-button {
    width: 93px;
height: 32px;
background: linear-gradient(225deg, #FFD702 35.42%, #FFAA00 100%);
border-radius: 12px;
}
/* BABBU NFT MINING POOL */

/* NFT MINING */
.nft-mining {
    margin-top: 20px;
}

.listNft .unstake-button {
    background: #FFE000;
    border-radius: 12px;
    width: 82px;
    height: 36px;
    margin-right: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

.listNft .upgrade-button {
    background: #FFFAD9;
    border: 1px solid #FFED69;
    box-sizing: border-box;
    border-radius: 12px;
    width: 102px;
    height: 36px;
    margin-left: 4px;
    font-weight: 400;
}

.listNft .unlock-position-button {
    background: #eae9fd;
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 36px;
    font-weight: 400;
    margin-left: 0;
}
/* NFT MINING */

.aligning {
    display: flex;
    justify-content: center;
    align-items: center;
}