#aboutPage section.footer {
	background: #fff;
	border-left: 1px solid #fff;
	margin-left: -1px;
	font-size: 18px;
	text-align: center;
	color: #98795C;
}
#aboutPage .footer .social {
	margin-bottom: 20px;
}
#aboutPage .footer .social a {
	margin: 0 8px;
}
#aboutPage .footer .social a img {
	width: 30px;
}