.gamebase .item {
	padding: 25px;
	height: 100%;
}
.gamebase .item.chestOpen {
	background: #fae1e0 url(./img/chest-open.png) no-repeat center
		right 25px;
}
.gamebase .item.chestClose {
	background: #fdf1cc url(./img/chest-close.png) no-repeat center
		right 25px;
}
.gamebase .item .phase {
	font-weight: 400;
	margin-bottom: 10px;
	min-width: 100px;
}
.gamebase .item .title {
	font-size: 24px;
	margin-bottom: 10px;
}
.gamebase .item .time {
	font-size: 18px;
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
h1,
.h1 {
	font-size: 52px;
}
h2,
.h2 {
	font-size: 44px;
}
h3,
.h3 {
	font-size: 32px;
}
h4,
.h4 {
	font-size: 30px;
}
h5,
.h5 {
	font-size: 26px;
}
h6,
.h6 {
	font-size: 22px;
}
.rounded-16 {
	border-radius: 16px;
}

